<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static_resources/css/test.css">
    <title>Tippspiel Login</title>
</head>
<body>
    <div id="window">
        <form th:action="@{/login}" method="post" id="form">
            <div>
                <label for="username" id="username_text" class="input username">username</label>
                <br>
                <input type="text" id="username" name="username" class="input username" required>
            </div>
            <div>
                <label for="password" id="password_text" class="input password">password</label>
                <br>
                <input type="password" id="password" class="input password" name="password" required>
            </div>
            <div>
                <button type="submit" class="input" id="submit" name="login">login</button>
            </div>
            <div class="login_type" id="switch">
                <span id="login">login</span>
                <span>|</span>
                <span id="signup">sign in</span>
            </div>
        </form>
    </div> 
    <script src="../static_resources/js/bsp.js"></script>
</body>
</html>