<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/homepage.css}">
    <title>Home</title>
</head>

<body>
<div class="container">
    <div class="soccer-ball"></div>
</div>
<ul>
    <li><a href="http://localhost:8080/em2024/">Home</a></li>
    <li><a href="http://localhost:8080/em2024/tipps/current">Tipps</a></li>
    <li><a href="http://localhost:8080/em2024/results/current">Results</a></li>
    <li><a href="http://localhost:8080/em2024/impressum">About</a></li>
    <li><a href="http://localhost:8080/api/auth/signin" onclick="deleteAuthToken()">Log out</a></li></ul>

<div id="site">
    <div id="username">
        <h1>Hallo <span th:text="${username}"></span></h1>
    </div>
    <div id="punktzahl">
        <p > Deine Punktzahl ist: <span th:text="${punktzahl}"></span></p>
    </div>
    <div id="erklärung">
        <p>
            Erklärung: Um an diesem Tippspiel teilzunehmen, kann man über die Navigationsleiste zur Tippseite gelangen. Dort kann man für jedes noch nicht begonnene Spiel eines Spieltags die Ergebnisse für den Heimverein und den Auswärtsverein tippen. Dies ist solange möglich, bis das jeweilige Spiel angefangen hat. Mit dem Dropdown-Menü oben in der Mitte kann man die einzelnen Spieltage auswählen. Sobald ein Spiel gespielt wurde, werden die Ergebnisse auf der Ergebnisseite angezeigt, die ebenfalls über die Navigationsleiste erreichbar ist. Für jedes Spiel, bei dem man den richtigen Gewinner getippt hat, erhält man 1 Punkt. Hat man zusätzlich die richtige Tordifferenz getippt, bekommt man 2 weitere Punkte. Wenn man sogar das exakte Ergebnis richtig getippt hat, erhält man noch einen zusätzlichen Punkt. Um seine Gesamtpunktzahl herauszufinden, kann man auf der Startseite, die ebenfalls über die Navigationsleiste erreichbar ist, sein Gesamtergebnis einsehen.
        </p>
    </div>
</div>


<script th:src="@{/homepage.js}"></script>
<div class="count-particles">
    <span class="js-count-particles"></span>
</div>

<!-- particles.js container -->
<div id="particles-js"></div>
<div id="particles">
    <script th:src="@{/login2.js}" ></script>
    <script th:src="@{/login3.js}" ></script>

    <!-- stats.js -->
    <script th:src="@{/login4.js}"></script>

</div>
</body>
</html>