<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/test.css}">
    <title>Tippspiel Sign up</title>
</head>
<body>
<div class="cursor"></div>
<div class="outline"></div>
    <div id="window">
        <form th:action="@{/api/auth/signup}" method="post" id="form">
            <div>
                <label for="username" id="username_text" class="input username" >username</label>
                <br>
                <input type="text" th:field="${signUpRequest.username}" id="username" name="username" class="input username" required>
            </div>
            <div>
                <label for="email" id="email_text" class="input email">email</label>
                <br>
                <input type="text" id="email" class="input email" th:field="${signUpRequest.email}" name="email" required>
            </div>
            <div>
                <label for="password" id="password_text" class="input password">password</label>
                <br>
                <input type="password" id="password" class="input password" th:field="${signUpRequest.password}" name="password" required>
            </div>
            <div>
                <button type="submit" class="input" id="submit" name="sign in">sign up</button>
            </div>
            <div class="login_type" id="switch">
                <span>already have an account? </span>
                <a id="login" href="/api/auth/signin" >sign in</a>
            </div>
        </form>
    </div>
<div class="count-particles">
    <span class="js-count-particles"></span>
</div>

<!-- particles.js container -->
<div id="particles-js"></div>
<script th:src="@{/login1.js}" ></script>
<div id="particles">
    <script th:src="@{/login2.js}"></script>
    <script th:src="@{/login3.js}"></script>

    <!-- stats.js -->
    <script th:src="@{/login4.js}"></script>

</div>
    <script th:src="@{/bsp.js}"></script>
</body>
</html>