<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/test.css}">
    <title>Tippspiel Login</title>
</head>
<body>
    <div id="window">
        <form th:action="@{/api/auth/signup}" method="post" id="form">
            <div>
                <label for="username" id="username_text" class="input username" >username</label>
                <br>
                <input type="text" th:field="${signUpRequest.username}" id="username" name="username" class="input username" required>
            </div>
            <div>
                <label for="email" id="email_text" class="input email">email</label>
                <br>
                <input type="text" id="email" class="input email" th:field="${signUpRequest.email}" name="email" required>
            </div>
            <div>
                <label for="password" id="password_text" class="input password">password</label>
                <br>
                <input type="password" id="password" class="input password" th:field="${signUpRequest.password}" name="password" required>
            </div>
            <div>
                <button type="submit" class="input" id="submit" name="sign in">sign up</button>
            </div>
            <div class="login_type" id="switch">
                <span>already have an account? </span>
                <a id="login" href="/api/auth/signin" >sign in</a>
            </div>
        </form>
    </div> 
    <script th:src="@{/bsp.js}" src="../static_resources/js/bsp.js"></script>
</body>
</html>