<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/homepage.css}">
</head>
<body>
    <ul>
        <li><a href="test">Home</a></li>
        <li><a href="tipps">Tipps</a></li>
        <li><a href="results">Results</a></li>
        <li><a href="about">About</a></li>
      </ul>
      
      <br>
      <p>Hallo :</p>
      <p th:text="${authToken}"> </p>

        <div>
            <div th:each="spiel : ${spiele}">
                <span th:text="${spiel.getHeimverein().getVereinsName()}"></span> <span th:text="${spiel.getHeimVereinTore()}"></span> : <span th:text="${spiel.getAuswaertsVereinTore()}"></span> <span th:text="${spiel.getAuswaertsverein().getVereinsName()}"></span><br><hr><br>
            </div>
        </div>



</body>
</html>