<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/tippseite.css}">
    <title>Document</title>
</head>
<body>
<div class="cursor"></div>
<ul>
    <li><a href="http://localhost:8080/em2024/">Home</a></li>
    <li><a href="http://localhost:8080/em2024/tipps/current">Tipps</a></li>
    <li><a href="http://localhost:8080/em2024/results/current">Results</a></li>
    <li><a href="http://localhost:8080/em2024/impressum">About</a></li>
    <li><a href="http://localhost:8080/api/auth/signin" onclick="deleteAuthToken()">Log out</a></li>
</ul>
<div class="site">
    <div class="dropdown">
        <select id="dropdown"onchange="switchSite(value)" >
            <option value="current" >heute</option>
            <option value="1" >1. Spieltag</option>
            <option value="2" >2. Spieltag</option>
            <option value="3" >3. Spieltag</option>
            <option value="4">4. Spieltag</option>
            <option value="5">5. Spieltag</option>
            <option value="6">6. Spieltag</option>
            <option value="7">7. Spieltag</option>
        </select>
    </div>
    <div th:each="spiel : ${spiele}">
        <form id="tippForm"><!--method="post" th:action="@{/em2024/results/tipp}"-->
            <div id="window">
                <span th:text="${spiel.getDatum()}" class="datum"> </span>
        <div class="logo_left" ><img th:src="${spiel.getHeimverein().getBild()}" alt=""></div>

        <span class="text">
            <span class="team_left" th:text="${spiel.getHeimverein().getVereinsName()}"></span>
<!-- ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss-->
            <span th:if="${spiel.getMatchIsFinished()}">

                <span th:if="${tippListe.get(spiel.getMatchID())!=null}">
                   <span th:text="${tippListe.get(spiel.getMatchID()).getHeimvereintore()}"></span>
                </span>
                <span th:unless="${tippListe.get(spiel.getMatchID())!=null}">
                    <span class="score_left">-</span>
                </span>

            </span>
             <!-- ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss -->

              <span th:unless="${spiel.getMatchIsFinished()}">
                  <span th:if="${tippListe.get(spiel.getMatchID())!=null}">
                  <span class="score_left"><input type="number" style="width: 1rem" name="HeimVereinTore" th:placeholder="${tippListe.get(spiel.getMatchID()).getHeimvereintore()}" required></span>
                      </span>
                  <span th:unless="${tippListe.get(spiel.getMatchID())!=null}">
                  <span class="score_left"><input type="number" style="width: 1rem" name="HeimVereinTore" required></span>
                      </span>
              </span>


            <span class="divide">:</span>


            <!-- ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss  -->
               <span th:if="${spiel.getMatchIsFinished()}">

                <span th:if="${tippListe.get(spiel.getMatchID())!=null}">
                   <span th:text="${tippListe.get(spiel.getMatchID()).getAuswaertsvereintore()}"></span>
                </span>
                <span th:unless="${tippListe.get(spiel.getMatchID())!=null}">
                    <span class="score_left">-</span>
                </span>

            </span>
            <!--ssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss -->


              <span th:unless="${spiel.getMatchIsFinished()}">
                  <span th:if="${tippListe.get(spiel.getMatchID())!=null}">
                  <span class="score_right"><input type="number" style="width: 1rem" name="AuswaertsVereinTore" th:placeholder="${tippListe.get(spiel.getMatchID()).getAuswaertsvereintore()}" required></span>
                      </span>
                  <span th:unless="${tippListe.get(spiel.getMatchID())!=null}">
                  <span class="score_right"><input type="number" style="width: 1rem" name="AuswaertsVereinTore" required></span>
                      </span>
                  </span>
              <span class="team_right" th:text="${spiel.getAuswaertsverein().getVereinsName()}"></span>
          </span>
        <div class="logo_right"><img th:src="${spiel.getAuswaertsverein().getBild()}" alt=""></div>
        <input type="hidden" name="matchID" th:value="${spiel.getMatchID()}">
                <span th:unless="${spiel.getMatchIsFinished()}">
                    <input type="submit" class="submit">
                </span>
    </div>
        </form>
    </div>

    <script type="text/javascript" th:src="@{/login1}"></script>
    <script type="text/javascript" th:src="@{/tippseite.js}"></script>

</div>
<div class="count-particles">
    <span class="js-count-particles"></span>
</div>

<!-- particles.js container -->
<div id="particles-js"></div>
<div id="particles">
    <script th:src="@{/login2.js}" src="../static_resources/js/bsp.js"></script>
    <script th:src="@{/login3.js}" src="../static_resources/js/bsp.js"></script>

    <!-- stats.js -->
    <script th:src="@{/login4.js}" src="../static_resources/js/bsp.js"></script>

</div>
</body>
</html>