.site{
    display: flex;
    flex-flow: column;
    justify-content: center;
}
#dropdown{
    position: relative;
    top: 1rem;
    background: none;
    border-style: solid;
    border-color:black ;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-color: black;
    border-style: solid;
    backdrop-filter: blur(10px);
    border-width: 1px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background: rgba(41, 205, 255, 0.24);
    color: black;
  }
  img{
      height: 5rem;
      width: 5rem;
      border-radius: 50%;
  }
  #window{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 2rem;
      border-style: solid;
      width: 36rem;
      height: 9rem;
  }
  .logo_left{
      border-style: solid;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
  }
  .logo_right{
    border-style: solid;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.submit{
    position: relative;
    top: 1rem;
    background: none;
    border-style: solid;
    border-color:black ;
}