body{
    background-image: url(../images/mountain.jpg);
    background-size: cover;
}
#login_window{

    /* Center the div*/
    position: fixed;
    inset: 0px;
    width: 20rem;
    height: 20rem;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;

    /* border style */
    border-style: solid;
    border-color: white;
    border-width: 5px;
    
    /* centering the items */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
input{
    /* puts the text in the middle of each input*/
    text-align: center;
}
label{
    /* makes the text white*/
    color: white;
}
#submit{
    /* adjust button position*/
    position: relative;
    top: 2rem;
    height: 3rem;
    width: 3rem;

    /* adjust button text*/
    font-size: smaller;
    color: white;

    /* button style*/
    background: none;
    border-style: solid;
    border-color: white;

}
.login_type{
    /* adjust login type position*/
    position: relative;
    top: 4rem;
    color: white;
}
a:link,a:visited{
    /* change link color*/
    color: white;
}