body{
    /* background*/
    /*background-image: url(../images/mountain.jpg);*/
    /*background-image: url(https://images.pexels.com/photos/114296/pexels-photo-114296.jpeg);*/
    background-image: url(https://images.pexels.com/photos/1302514/pexels-photo-1302514.jpeg);
    background-position: 25% 5%;
    background-size: cover;
}
#window{

    /* Center the div*/
    position: fixed;
    inset: 0px;
    width: 20rem;
    height: 20rem;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;

    /* border style */
    border-style: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 5%;
    
    /* centering the items */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

      /* background style */
    backdrop-filter: blur(2px) contrast(65%);
}
input{
    /* puts the text in the middle of each input*/
    text-align: center;
    /* style for the input elements*/
    background: none;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    color: white;
}
input:focus{
    /* style of input element in focus*/
    outline: none;
    caret-color: white;
}
label{
    /* makes the text white*/
    color: white;
}
#submit{
    /* adjust button position*/
    position: relative;
    top: 2rem;
    height: 3rem;
    width: 3rem;

    /* adjust button text*/
    font-size: smaller;
    color: white;

    /* button style*/
    background: none;
    border-style: solid;
    border-color: white;
    border-radius: 5px;

}
.login_type{
    /* adjust login type position*/
    position: relative;
    top: 4rem;
    color: white;
}
span{
    /* change link color*/
    color: white;
}
a{
    /* change link color*/
    color: white;
}
#signup:hover{
    /* texteffect on hover */
    text-decoration: underline;
}
#login:hover{
    /* texteffect on hover */
    text-decoration: underline;
}
